ion-content.background{
  --background: url(../../assets/images/wallpaper.png) 0 0/100% 100% no-repeat;
}

#title, #input {
  padding: 1%;
  width: 30vw;
  margin: auto;
  margin-top: 5%;
  border: 2px solid rgb(8, 0, 255);
  border-radius: 20px;
  background-color: rgba(48, 15, 15, 0.792);
}
